@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.slider-container {
  text-align: center;
}

.slider-container.inner-arrows .slick-prev {
  left: 20px;
  z-index: 1;
}

.slider-container .slick-prev:before {
  font-family: monospace;
  font-size: 40px;
  font-weight: 800;
}

.slider-container.inner-arrows .slick-next {
  right: 20px;
}

.slider-container .slick-next:before {
  font-family: monospace;
  font-size: 40px;
  font-weight: 800;
}

button.slick-arrow {
  border-radius: 100%;
  background-color: #d6effa;
  width: 40px;
  height: 40px;
}

button.slick-arrow:hover {
  background-color: #cee5f0;
}

button.slick-arrow:before {
  color: #009de0;
}

.slick-initialized .slick-slide {
  padding: 0 5px;
}
